       h1{
            color: black;
            background-color:gold;
            padding: 10px;
            border-radius: 100px;
            border: 1px solid black ;
            box-shadow: 5px 5px rgb(147, 59, 59);
            width: 130px;
            

        }
        p{
            color: red;background-color: rgb(221, 243, 236);
            padding: 10px;
            border-radius: 50px;
            border: 1px solid black ;
        }
        body{
            background-color:rgb(236, 190, 197);
        }